@using POC.CommonModel.Models
@model POC.CommonModel.Models.CommonAddressModel

@{
    ViewData["Title"] = "Edit Address";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit" method="post">
                        <input type="text" asp-for="Id" class="form-control" hidden/>
                        <div class="form-group">
                            <label asp-for="FullName"></label>
                            <input type="text" asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MobileNumber"></label>
                            <input type="number" asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="labels">Country</label>
                            <select asp-for="Country" class="form-control">
                                <option value="India">India</option>
                            </select>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="labels">State</label>
                            <select asp-for="State" class="form-control">
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Karnataka">Karnataka</option>
                            </select>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input type="text" asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Village"></label>
                            <input type="text" asp-for="Village" class="form-control" />
                            <span asp-validation-for="Village" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Landmark"></label>
                            <input type="text" asp-for="Landmark" class="form-control" />
                            <span asp-validation-for="Landmark" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Pincode"></label>
                            <input type="number" asp-for="Pincode" class="form-control" />
                            <span asp-validation-for="Pincode" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="AreaStreet"></label>
                            <input asp-for="AreaStreet" class="form-control" />
                            <span asp-validation-for="AreaStreet" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Update Address" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
