@model object

<p>Status Code: @ViewBag.StatusCode</p>
<!DOCTYPE html>
<html lang="en">


	
@if (ViewBag.StatusCode == "Unauthorized")
		{
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width,
				initial-scale=1.0">
			<title>
			401 Unauthorized
		</title>
	</head>
	
		<div class="error-container">
			<h1> @ViewBag.StatusCode </h1>
			<p>

			</p>
			
		</div>
	

}
<body>
	<p>An Error occured on our side. Retry Login </p>
<button type="button" class="btn">
	@Html.ActionLink("Go Back To Login", "Login", "LoginController")
</button>
</body>


</html>
