@page
@model POC.MVC.Pages.TestModel
@{
    Layout = "_Layout";
}
<div class="container">
    
        <div class="alert alert-success" role="alert">
            <p>@Model.Message</p>
        </div>
    <a href="/ProductControllerMVC/Products" class="btn btn-outline-primary">Go Back To Product</a>
    
</div> 