

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

    .quantity .minus,
    .quantity .plus {
        width: 30px;
        height: 30px;
        background-color: #ddd;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .quantity .input-box {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        margin: 0 5px;
    }
